table {
  width: 100%;
  margin: 8px 0px;

  img {
    max-width: 150px;
    border-radius: 5px;
  }

  td {
    padding: 8px;
  }

  .mat-header-cell {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.12);
  }

  .mat-cell {
    border-bottom-width: 3px;
    border-bottom-style: double;
  }
}

.spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

mat-toolbar {
  background: white;

  img {
    max-width: 100px;
  }

  mat-grid-list {
    width: 100%;
  }
}

mat-icon {
  color: #56565b;
}

input {
  border: none;
  padding: 2px;
  background: transparent;
}

.search-container {
  background: rgb(252, 252, 252);
  border-radius: 25px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  text-align: center;
}
