<mat-toolbar>
    <mat-grid-list cols="2" rowHeight="64px">
        <mat-grid-tile class="left-tile"><img src="../../../assets/imgs/inmobly-logo.png" /></mat-grid-tile>
        <mat-grid-tile class="right-tile">
            <div class="search-container">
                <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                <input #search placeholder="Search by video title">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-toolbar>
<table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let video"> <img [src]="video.thumbnailMedUrl" /> </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let video"> {{video.title}} </td>
    </ng-container>
    <ng-container matColumnDef="publishedAt">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Publish Date </th>
        <td mat-cell *matCellDef="let video"> {{video.publishedAt | date:'MM-dd-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let video"> <button mat-stroked-button
                [routerLink]="['/details/', video.id]">Details</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card *ngIf="dataSource.loading$ | async" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
    </mat-progress-spinner>
</mat-card>

<mat-paginator hidePageSize="true">
</mat-paginator>